@model WebsiteNongSan.Models.NhaCungCap

@{
    ViewBag.Title = "Thêm nhà cung cấp";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="title">Quản lý nhà cung cấp</h1>
<div style="display: flex; align-items: center; justify-content: space-between">
    <ul class="breadcrumbs">
        <li><a href="~/Admin/HomeAdmin/Index">Trang chủ</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Quản lý nhà cung cấp</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Thêm nhà cung cấp</a></li>
    </ul>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h6>Thêm nhà cung cấp</h6>
        </div>
        <div class="table-wrapper" style="background-color: #fff; padding: 18px">
            @using (Html.BeginForm("ThemNhaCungCap", "QuanLyNhaCungCap", FormMethod.Post, new { style = "display: flex" }))
            {
                <div style="width: calc(100% / 2); margin-right: 30px">
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.TenNhaCungCap)
                        @Html.TextBoxFor(model => model.TenNhaCungCap, new { placeholder = "Nhập tên nhà cung cấp", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenNhaCungCap, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.SDT)
                        @Html.TextBoxFor(model => model.SDT, new { placeholder = "Nhập số điện thoại", type = "tel", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Nhập email", type = "email", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div style="display: flex">
                        <button type="submit" style="width: 15%; padding: 10px; margin-top: 20px; background-color: #1c75e7; border: none; border-radius: 4px; color: white; font-weight: 500; font-size: 16px">
                            Thêm
                        </button>
                        <a href="~/Admin/QuanLyNhaCungCap/DanhSachNhaCungCap" class="button" style="text-align: center; width: 15%; padding: 10px; margin-top: 20px; background-color: #fc3b56; border: none; border-radius: 4px; color: white; font-weight: 500; font-size: 16px; margin-left: 8px">Hủy</a>
                    </div>
                </div>
                <div style="width: calc(100% / 2); margin-left: 30px">
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.DiaChi)
                        @Html.TextBoxFor(model => model.DiaChi, new { placeholder = "Nhập địa chỉ", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { placeholder = "Nhập ghi chú", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    input, select, .form-control {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #bebebe;
        padding: 12px;
        margin-top: 8px;
    }

    button:hover, .button:hover {
        opacity: 0.8;
    }
</style>




