@model IEnumerable<WebsiteNongSan.Models.SanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

@{ 
    bool TraVeIDKhuyenMai(int id)
    {
        var x = Model.FirstOrDefault(row => row.IDSanPham == id);
        foreach(var item in ViewBag.SanPhamKhuyenMai)
        {
            if(item.IDSanPham == x.IDSanPham)
            {
                return true;

            }
        }
        return false;
    }
}

<div class="row" style="margin-top: var(--header-height)">
    <!-- Danh mục sản phẩm -->
    <div class="col-3 slide-menu p-0">
        @Html.Action("DanhMucSanPham", "SanPham")
    </div>

    <div class="col-9 content-body">
        <!-- Hiển thị tên sản phẩm theo loại -->
        <div class="row" style="margin-left: -23px">
            <div class="p-2 bg-white my-2" style="border-radius: 4px">
                <a href="~/SanPham/Index" style="text-decoration: none; color: #000">
                    <i class="ri-arrow-left-s-line" style="font-size: 18px; border-right: 1px solid #dedede; padding-right: 6px; margin-right: 6px"></i>
                </a>
                @if (ViewBag.DS.TenLoaiSP != null)
                {
                    <span class="fw-500"> @ViewBag.DS.TenLoaiSP </span>
                }
            </div>
        </div>

        <!-- Lọc sản phẩm -->
        <form action="" method="get" class="bg-white" style="margin-left: -23px; margin-right: -12px; border-radius: 4px; padding: 10px; padding-bottom: 12px">
            <div>
                <h6>Chọn theo tiêu chí</h6>
                <div class="d-flex align-items-center" style="gap: 8px">
                    <div>
                        <select name="SortPrice" id="" style="padding: 4px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 34px; font-size: 15px">
                            <option value="">Giá bán</option>
                            <option value="tang">Giá tăng dần</option>
                            <option value="giam">Giá giảm dần</option>
                        </select>
                    </div>
                    <div>
                        <select name="FilterPrice" id="" style="padding: 4px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 34px; font-size: 15px">
                            <option value="">Mức giá</option>
                            <option value="<100">Dưới 100.000đ</option>
                            <option value="100-300">Từ 100.000đ - 300.000đ</option>
                            <option value=">300">Trên 300.000đ</option>
                        </select>
                    </div>
                    <div>
                        <select name="KhuyenMai" id="" style="padding: 4px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 34px; font-size: 15px">
                            <option value="">Khuyến mãi</option>
                            <option value="yes">Còn khuyến mãi</option>
                        </select>
                    </div>
                    <div>
                        <select name="NhaCungCap" id="" style="padding: 4px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 34px; font-size: 15px">
                            <option value="">Nhà cung cấp</option>
                            @foreach (var item in ViewBag.NhaCungCap)
                            {
                                <option value="@item.IDNhaCungCap">@item.TenNhaCungCap</option>
                            }
                        </select>
                    </div>
                    <button type="submit" style="padding: 4px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 34px; font-size: 15px">Lọc</button>
                </div>
            </div>
        </form>

        <div class="mt-2" style="background-color: #fff9f9; margin-left: -23px; margin-right: -11px; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px">
            <img src="~/Content//HinhAnh/Screenshot 2024-11-17 233057.png" class="mx-auto d-block" style="width: 400px" alt="" />
        </div>

        @if (ViewBag.FilterPrice != null)
        {
            <div class="alert alert-warning mt-3">
                @ViewBag.FilterPrice
            </div>
        }

        @if (ViewBag.SortPrice != null)
        {
            <div class="alert alert-warning mt-3">
                @ViewBag.SortPrice
            </div>
        }

        @if (ViewBag.NCC != null)
        {
            <div class="alert alert-warning mt-3">
                @ViewBag.NCC
            </div>
        }

        <!-- Hiển thị sản phẩm theo loại -->
        <div class="row mt-2 bg-white mb-13-t pb-12-t" style="margin-left: -23px; padding-top: 14px; border-radius: 4px">
            @if (ViewBag.Message != null)
            {
                <div class="alert alert-warning text-center">@ViewBag.Message</div>
            }
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-4 col-sm-12 mb-4" style="margin-bottom: 14px; position: relative">
                    <div class="card" style="border: 1px solid #d8e1f9; min-height: 380px; max-height: 380px; display: flex; flex-direction: column; justify-content: space-between; overflow: hidden;">
                        @if (TraVeIDKhuyenMai(item.IDSanPham) == true)
                        {
                            <div class="d-flex align-items-center justify-content-center box-flash" style="width: 38px; height: 16px; position: absolute; right: 4px; top: 4px; font-size: 10px; padding: 2px 3px; background-color: #ff4e45; color: white; text-align: center; border-radius: 4px; ">
                                <i class="ri-flashlight-line"></i>
                                @{
                                    if (ViewBag.SanPhamKhuyenMai != null)
                                    {
                                        foreach (var spkm in ViewBag.SanPhamKhuyenMai)
                                        {
                                            if (spkm.IDSanPham == item.IDSanPham)
                                            {
                                                <span style="font-weight: 700">@String.Format("{0:0.##}%", spkm.KhuyenMai.PhanTramGiam)</span>

                                            }
                                        }
                                    }
                                }
                            </div>
                        }

                        <a href="~/SanPham/ChiTietSanPham/@item.IDSanPham">
                            <img src="~/Content/HinhAnh/@item.HinhAnh" class="w-100" alt="@item.TenSanPham" />
                        </a>
                        <div class="card-body" style="flex-grow: 1; display: flex; flex-direction: column; justify-content: space-between;">
                            <p class="card-title fw-400 txt-gray" style="margin: 0; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; height: 45px">@item.TenSanPham</p>
                            <p class="card-title">
                                @if (TraVeIDKhuyenMai(item.IDSanPham) == true)
                                {
                                    if (ViewBag.SanPhamKhuyenMai != null)
                                    {
                                        bool isDiscounted = false;
                                        decimal discountedPrice = 0;

                                        foreach (var spkm in ViewBag.SanPhamKhuyenMai)
                                        {
                                            if (spkm.IDSanPham == item.IDSanPham)
                                            {
                                                isDiscounted = true;
                                                discountedPrice = item.Gia - (item.Gia * (spkm.KhuyenMai.PhanTramGiam / 100));
                                                break;
                                            }
                                        }

                                        if (isDiscounted)
                                        {
                                            <span class="fw-700 text-decoration-line-through" style="color: #999;">@String.Format("{0:0,0 đ}", item.Gia)</span>
                                            <span class="fw-700" style="color: #ff4e45">@String.Format("{0:0,0 đ}", discountedPrice)</span>
                                        }
                                        else
                                        {
                                            <span class="fw-700">@String.Format("{0:0,0 đ}", item.Gia)</span>
                                        }
                                    }
                                    else
                                    {
                                        <span class="fw-700">@String.Format("{0:0,0 đ}", item.Gia)</span>
                                    }
                                }
                                else
                                {
                                    <span class="fw-700">@String.Format("{0:0,0 đ}", item.Gia)</span>
                                }
                                <span class="txt-gray fs-13-t">/ @item.DonViTinh</span>
                            </p>
                            <div class="container-ThemVGio">
                                <a href="~/DatHang/ThemVaoGioHang?id=@item.IDSanPham" class="btn btn-ThemVaoGio text-white mx-auto fw-500 d-block">Thêm vào giỏ</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!-- Footer -->
        <footer class="row mb-3" style="margin-right: -24px; margin-left: -11px">
            <ul class="p-2 d-flex align-items-center mb-0" style="background-color: var(--bg-footer); margin-left: -12px">
                <li class="text-white fs-14-t fw-500">bán 7:00 - 21:30</li>
                <li class="mx-3">
                    <a href="" class="fw-700 text-white fs-14-t" style="text-decoration: none"><i class="ri-phone-line"></i> 19001908</a>
                </li>
                <li class="text-white fs-14-t fw-500">Khiếu nại 7:00 - 21:30</li>
                <li class="mx-3">
                    <a href="" class="fw-700 text-white fs-14-t" style="text-decoration: none"><i class="ri-phone-line"></i> 18001067</a>
                </li>
                <li class="fw-700 fs-14-t fw-500" style="text-decoration: none; color: yellow; margin-left: 80px; margin-right: 20px">Cam kết:</li>
                <li class="text-white fs-14-t fw-500"><i class="ri-checkbox-circle-line"></i> 15.000 sản phẩm</li>
                <li class="text-white mx-3 fs-14-t fw-500"><i class="ri-checkbox-circle-line"></i> Freeship đơn 100k</li>
                <li class="text-white fw-500 fs-14-t"><i class="ri-checkbox-circle-line"></i> Giao 2h</li>
            </ul>

            <div class="row bg-white pt-3">
                <div class="col-6 d-flex justify-content-between">
                    <ul class="pl-0-t">
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Hướng dẫn mua</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Tích điểm quà tặng VIP</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Cần thuê mặt bằng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Hỏi đáp</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Tuyển 6542 việc</a>
                        </li>
                    </ul>

                    <ul class="pl-0-t">
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Hóa đơn điện tử</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Giới thiệu công ty</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Quy chế web</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">cảnh báo giả mạo</a>
                        </li>
                    </ul>

                    <ul class="pl-0-t">
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Chính sách khách hàng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Chính sách giao hàng</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Chính sách đổi trả</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Trả góp, điện nước</a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="text-dark nav-link pb-2 fs-15-t" style="text-decoration: none">Đăng ký chào hàng</a>
                        </li>
                    </ul>
                </div>
                <div class="col-1"></div>

                <div class="col-5">
                    <div class="mb-2">
                        <img src="~/Content/Assets/Images/checked.png" style="width: 20px" alt="" />
                        <span>Cam kết chất lượng, không hài lòng trả hàng !</span>
                    </div>
                    <div class="mb-2">
                        <img src="~/Content/Assets/Images/shipped.png" style="width: 20px" alt="" />
                        <span>Giao hàng đúng hẹn, trễ tặng ngay 100.000đ</span>
                    </div>
                    <div class="mb-2">
                        <a href=""><img src="~/Content/Assets/Icon/facebook.png" style="width: 20px" alt="" /></a>
                        <a href=""><img src="~/Content/Assets/Icon/youtube.png" class="mx-1" style="width: 20px" alt="" /></a>
                        <a href=""> <img src="~/Content/Assets/Icon/instagram.png" style="width: 20px" alt="" /></a>
                    </div>
                    <div>
                        <img src="~/Content/Assets/Images/ggp-as.png" class="mx-auto d-block" style="width: 280px" alt="" />
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



            





