@model WebsiteNongSan.Models.NguoiDung

@{
    ViewBag.Title = "ThemMoiNguoiDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="title">Quản lý người dùng</h1>
<div style="display: flex; align-items: center; justify-content: space-between">
    <ul class="breadcrumbs">
        <li><a href="~/Admin/HomeAdmin/Index">Trang chủ</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Quản lý người dùng</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">thêm mới người dùng</a></li>
    </ul>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            <h6>Thêm tài khoản</h6>
        </div>
        <div class="table-wrapper" style="background-color: #fff; padding: 18px">
            @using (Html.BeginForm("ThemMoiNguoiDung", "QuanLyNguoiDung", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: flex" }))
            {
                <div style="width: calc(100% / 2); margin-right: 30px">
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.TenNguoiDung)
                        @Html.TextBoxFor(model => model.TenNguoiDung, new { placeholder = "Nhập họ và tên", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.TenNguoiDung, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.Email)
                        @Html.TextBoxFor(model => model.Email, new { placeholder = "Nhập email", type = "email", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.SDT)
                        @Html.TextBoxFor(model => model.SDT, new { placeholder = "Nhập số điện thoại", type = "tel", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.DiaChi)
                        @Html.TextBoxFor(model => model.DiaChi, new { placeholder = "Nhập địa chỉ", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                    </div>
                    <div style="display: flex">
                        <button type="submit" style="width: 15%; padding: 10px; margin-top: 20px; background-color: #1c75e7; border: none; border-radius: 4px; color: white; font-weight: 500; font-size: 16px">
                            Thêm
                        </button>
                        <a href="~/Admin/QuanLyNguoiDung/DanhSachNguoiDung" class="button" style="text-align: center; width: 15%; padding: 10px; margin-top: 20px; background-color: #fc3b56; border: none; border-radius: 4px; color: white; font-weight: 500; font-size: 16px; margin-left: 8px">Hủy</a>
                    </div>
                </div>
                <div style="width: calc(100% / 2); margin-left: 30px">
                    <div style="margin-bottom: 20px">
                        @Html.Label("Hình ảnh")
                        <input type="file" name="txtHinhAnh" style="height: 43.45px; width: 100%" />
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { placeholder = "Nhập mật khẩu", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.VaiTro)
                        @Html.DropDownListFor(model => model.VaiTro, new SelectList(new[] { "User", "Admin" }), new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.VaiTro, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    input, select, .form-control {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #bebebe;
        padding: 12px;
        margin-top: 8px;
    }

    button:hover, .button:hover {
        opacity: 0.8;
    }
</style>



