@model IEnumerable<WebsiteNongSan.Models.SanPhamKhuyenMai>

@{
    ViewBag.Title = "Danh sách sản phẩm khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="title">Quản lý sản phẩm khuyến mãi</h1>
<div style="display: flex; align-items: center; justify-content: space-between">
    <ul class="breadcrumbs">
        <li><a href="#">Trang chủ</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Quản lý sản phẩm khuyến mãi</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Danh sách sản phẩm khuyến mãi</a></li>
    </ul>
</div>

<div style="margin-top: 20px;">
    <form action="~/Admin/QuanLySanPhamKhuyenMai/DanhSachSanPhamKM" method="get" style="display: flex; align-items: center; justify-content: space-between;">
        <div style="display: flex; align-items: center; gap: 8px;">
            <!-- Tìm kiếm -->
            <input type="search" name="Search" value="@ViewBag.Search" placeholder="Nhập từ khóa..." style="padding: 8px 12px; width: 340px; border: 1px solid #cfcfcf; border-radius: 4px; height: 37px; box-sizing: border-box; font-size: 15px;" />

            <!-- Sắp xếp theo giá -->
            <select name="SortPrice" style="padding: 6px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 37px; font-size: 15px;">
                <option value="">Lọc theo giá</option>
                <option value="tang" @(ViewBag.FilterPrice == "tang" ? "selected" : "")>Giá tăng</option>
                <option value="giam" @(ViewBag.FilterPrice == "giam" ? "selected" : "")>Giá giảm </option>
            </select>

            <!-- Sắp xếp theo loại sản phẩm -->
            <select name="FilterLoai" style="padding: 6px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 37px; font-size: 15px;">
                <option value="">Lọc theo Loại</option>
                @foreach (var item in ViewBag.dsl)
                {
                    <option value="@item.IDLoaiSP" @(ViewBag.FilterLoai == item.IDLoaiSP ? "selected" : "")>@item.TenLoaiSP</option>
                }
            </select>

            <!-- Sắp xếp theo loại sản phẩm -->
            <select name="FilterNcc" style="padding: 6px 12px; border: 1px solid #cfcfcf; cursor: pointer; border-radius: 4px; height: 37px; font-size: 15px;">
                <option value="">Lọc theo nhà cung cấp</option>
                @foreach (var item in ViewBag.dsncc)
                {
                    <option value="@item.IDNhaCungCap" @(ViewBag.FilterNcc == item.IDNhaCungCap ? "selected" : "")>@item.TenNhaCungCap</option>
                }
            </select>

            <!-- Nút làm mới -->
            <button type="submit" style="background-color: #1472ea; color: #557164; color:white; border: none; padding: 8px 16px; border-radius: 4px; font-size: 15px; height: 36px; cursor: pointer; ">
                <i class="fa-solid fa-arrow-rotate-right" style="font-size: 13px;"></i>
                <span style="font-weight: 500; margin-left: 6px;">Làm mới</span>
            </button>
        </div>

        <!-- Nút thêm mới -->
        <div>
            <a href="~/Admin/QuanLySanPhamKhuyenMai/ThemSanPhamKhuyenMai" style="padding: 8px 16px; background-color: #1472ea; color: white; border-radius: 4px; font-size: 15px; height: 40px; text-decoration: none;">
                <i class="fa-solid fa-plus"></i>
                <span style="margin-left: 6px; font-weight: 500">Thêm mới</span>
            </a>
        </div>
    </form>
</div>

<div class="container">
    <div class="card">
        @*<div class="card-header">
                <h6>Danh sách sản phẩm</h6>
            </div>*@
        <div class="table-wrapper">
            <table class="authors-table">
                <thead>
                    <tr style="background-color: #D3D3D3">
                        <th style="color: #2d3436">Mã SP</th>
                        <th style="color: #2d3436">Hình ảnh</th>
                        <th style="color: #2d3436">Tên sản phẩm</th>
                        <th style="color: #2d3436">Số lượng</th>
                        <th style="color: #2d3436">Khuyến mãi</th>
                        <th style="color: #2d3436">Giá bán</th>
                        <th style="color: #2d3436">Ghi chú</th>
                        <th style="color: #2d3436">Hiệu lực</th>
                        <th style="color: #2d3436">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="font-size: 13px"><small>@item.IDSanPham</small></td>
                            <td>
                                <div class="author-info">
                                    <img src="~/Content/HinhAnh/@item.SanPham.HinhAnh" alt="@item.SanPham.TenSanPham" class="avatarProduct" style="width: 50px" />
                                </div>
                            </td>
                            <td>
                                <small style="font-size: 13px">
                                    @(item.SanPham.TenSanPham != null && item.SanPham.TenSanPham.Length > 35 ? item.SanPham.TenSanPham.Substring(0, 35) + "..." : item.SanPham.TenSanPham)
                                </small>
                            </td>
                            <td><small style="font-size: 13px">@item.SanPham.SoLuongTon</small></td>
                            <td>
                                <small style="font-size: 13px">
                                    @String.Format("{0:0}", item.KhuyenMai.PhanTramGiam)%
                                </small>
                            </td>
                            <td>
                                <small style="font-size: 13px; text-decoration: line-through">@String.Format("{0:0,0}", item.SanPham.Gia)đ</small>
                                <small style="font-size: 14px">/</small>
                                <small style="font-size: 13px">@String.Format("{0:0,0}", (item.SanPham.Gia - (item.SanPham.Gia * (item.KhuyenMai.PhanTramGiam / 100))))đ</small>
                            </td>

                            <td>
                                <small style="font-size: 13px">
                                    @(item.GhiChu != null && item.GhiChu.Length > 35 ? item.GhiChu.Substring(0, 35) + "..." : (item.GhiChu ?? ""))
                                </small>
                            </td>
                            <td><small class="countdown" data-enddate="@item.KhuyenMai.NgayKetThuc" style="font-size: 13px">Đang tải...</small></td>
                            <td>
                                <a href="~/Admin/QuanLySanPhamKhuyenMai/CapNhatSanPhamKhuyenMai?idSanPham=@item.IDSanPham&idKhuyenMai=@item.IDKhuyenMai" class="edit-link"><i class="fa-solid fa-pen-to-square"></i></a>
                                <a href="~/Admin/QuanLySanPhamKhuyenMai/XoaSanPhamKhuyenMai?idSanPham=@item.IDSanPham&idKhuyenMai=@item.IDKhuyenMai" class="delete-link"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Phân trang -->
<div class="custom-pagination">
    <a href="~/Admin/QuanLySanPhamKhuyenMai/DanhSachSanPhamKM?FilterLoai=@ViewBag.FilterLoai&FilterNcc=@ViewBag.FilterNcc&search=@ViewBag.Search&SortPrice=@ViewBag.SortPrice&page=1" class="custom-button">&laquo;</a>
    @for (int i = 1; i <= ViewBag.NoOfPages; i++)
    {
        var cssClass = i == ViewBag.Page ? "custom-button active" : "custom-button";
        <a href="~/Admin/QuanLySanPhamKhuyenMai/DanhSachSanPhamKM?FilterLoai=@ViewBag.FilterLoai&FilterNcc=@ViewBag.FilterNcc&search=@ViewBag.Search&SortPrice=@ViewBag.SortPrice&page=@i" class="@cssClass">@i</a>
    }
    <a href="~/Admin/QuanLySanPhamKhuyenMai/DanhSachSanPhamKM?FilterLoai=@ViewBag.FilterLoai&FilterNcc=@ViewBag.FilterNcc&search=@ViewBag.Search&SortPrice=@ViewBag.SortPrice&page=@ViewBag.NoOfPages" class="custom-button">&raquo;</a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const countdownElements = document.querySelectorAll(".countdown");

        countdownElements.forEach(function (element) {
            const endDate = new Date(element.getAttribute("data-enddate"));

            function updateCountdown() {
                const now = new Date();
                const timeDiff = endDate - now;

                if (timeDiff <= 0) {
                    element.textContent = "Hết hiệu lực";
                } else {
                    const days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));
                    const hours = Math.floor((timeDiff % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    const minutes = Math.floor((timeDiff % (1000 * 60 * 60)) / (1000 * 60));
                    const seconds = Math.floor((timeDiff % (1000 * 60)) / 1000);

                    element.textContent = `${days} ngày ${hours} giờ ${minutes} phút ${seconds} giây`;
                }
            }

            updateCountdown(); // Cập nhật lần đầu ngay khi tải trang
            setInterval(updateCountdown, 1000); // Cập nhật mỗi giây
        });
    });
</script>

