@model WebsiteNongSan.Models.SanPhamKhuyenMai

@{
    ViewBag.Title = "Thêm mới sản phẩm khuyến mãi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="title">Quản lý sản phẩm khuyến mãi</h1>
<div style="display: flex; align-items: center; justify-content: space-between">
    <ul class="breadcrumbs">
        <li><a href="#">Trang chủ</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Quản lý sản phẩm khuyến mãi</a></li>
        <li class="divider">/</li>
        <li><a href="#" class="active">Thêm sản phẩm khuyến mãi</a></li>
    </ul>
</div>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h6 style="color: #1a75e8">Thêm khuyến mãi</h6>
        </div>
        <div class="table-wrapper" style="background-color: #fff; padding: 18px">
            @using (Html.BeginForm("ThemSanPhamKhuyenMai", "QuanLySanPhamKhuyenMai", FormMethod.Post, new { enctype = "multipart/form-data", style = "display: flex" }))
            {
                <div style="width: calc(100% / 2); margin-right: 30px">
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.IDSanPham)
                        @Html.DropDownListFor(model => model.IDSanPham, (SelectList)ViewBag.DsSanPham, "--Chọn sản phẩm--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDSanPham, "", new { @class = "text-danger" })
                    </div>
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.IDKhuyenMai)
                        @Html.DropDownListFor(model => model.IDKhuyenMai, (SelectList)ViewBag.DsKhuyenMai, "--Chọn vé khuyến mãi--", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDKhuyenMai, "", new { @class = "text-danger" })
                    </div>
                    @if (ViewBag.ErrorTrangThai != null)
                    {
                        <span style="color: red">ViewBag.ErrorTrangThai</span>
                    }
                    @if (ViewBag.ErrorSoLuong != null)
                    {
                        <span style="color: red">ViewBag.ErrorSoLuong</span>
                    }
                    <div style="display: flex">
                        <button type="submit" style="width: 15%; padding: 10px; margin-top: 20px; background-color: #1c75e7; border: none; border-radius: 4px; color: white; font-weight: 500; font-size: 16px">Thêm</button>
                        <a href="~/Admin/QuanLySanPhamKhuyenMai/DanhSachSanPhamKM" class="button" style="text-align: center; width: 15%; padding: 10px; margin-top: 20px; background-color: #fc3b56; border: none; border-radius: 4px; color: white; font-weight: 500; font-size: 16px; margin-left: 8px">Hủy</a>
                    </div>
                </div>
                <div style="width: calc(100% / 2); margin-left: 30px">
                    <div style="margin-bottom: 20px">
                        @Html.LabelFor(model => model.GhiChu)
                        @Html.TextBoxFor(model => model.GhiChu, new { placeholder = "Nhập ghi chú nếu có", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<style>
    input, select, .form-control {
        width: 100%;
        border-radius: 4px;
        border: 1px solid #bebebe;
        padding: 12px;
        margin-top: 8px;
    }

    button:hover, .button:hover {
        opacity: 0.8;
    }
</style>


@section DoanJS{
    <script>
        CKEDITOR.replace('inputNoiDung');
    </script>
}




@*<div style="margin-bottom: 20px">
        @Html.LabelFor(model => model.TrangThai)
        @Html.DropDownListFor(model => model.TrangThai,
            new List<SelectListItem>
            {
                new SelectListItem { Value = "1", Text = "Còn kinh doanh" },
                new SelectListItem { Value = "0", Text = "Ngừng kinh doanh" }
            },
            new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
    </div>*@


